@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&family=Open+Sans:wght@600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lora", serif;
  font-family: "Open Sans", sans-serif;
  background-color: #f5f5f5;
  color: #333;
  text-align: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
  font-size: 1.5em;
  background-color: #fff;
  color: #333;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
  color: rgb(88, 33, 88);
}

.tagline {
  color: #555;
  font-size: 0.9em;
  margin-left: 10px;
  text-transform: uppercase;
}

nav {
  display: flex;
  background-color: transparent;
  gap: 20px;
}

nav a {
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 5px;
  color: #333;
  font-weight: 600;
  transition: background-color 0.3s;
}

nav a:hover {
  background-color: #f0f0f0;
}

.hero {
  background-image: url('https://cdn.pixabay.com/photo/2020/10/05/07/29/woman-5628426_1280.jpg');
  background-size: cover;
  background-position: center;
  margin-top: 0;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 2.5rem;
  font-weight: 700;
  text-shadow: 2px 1px 4px rgba(0, 0, 0, 0.3);
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero-subtitle {
  margin-left: 20px;
  font-size: 1.2rem;
}

.highlight {
  color: rgb(88, 33, 88);
  font-weight: 700;
}

.section {
  background-color: #fff;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  max-width: 800px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section h2 {
  text-align: center;
}

ul {
  list-style: none;
  margin: 20px 0;
  max-width: 400px;
  text-align: center;
}

ul li {
  background-color: #333;
  color: #fff;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  transition: background-color 0.3s;
}

ul li:hover {
  background-color: #567236;
  color: #555;
}

footer {
  background-color: #fff;
  color: #333;
  margin-top: 40px;
  padding: 20px 40px;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: 600;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  text-align: right;

}

@media (max-width: 600px) {
  header {
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }

  nav {
    margin-top: 10px;
    padding: 0;
  }

  nav a {
    margin: 5px 0;
  }

  .tagline {
    margin-left: 0;
  }

  .hero {
    height: auto;
    padding: 20px;
    text-align: center;
    flex-direction: column;
  }

  .hero h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    line-height: 1.2;
  }

  .hero-subtitle {
    margin-left: 0;
    font-size: 1rem;
    margin-top: 5px;
  }

  .section {
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 95%;
  }
}